/ayuda/Ayuda/nbproject/private/
/ayuda/Ayuda/build/
/problematicas/problematica01/nbproject/private/
/problematicas/problematica01/build/
/problematicas/problematica02/nbproject/private/
/problematicas/problematica02/build/
/problematicas/Problematica03/nbproject/private/
/problematicas/Problematica03/build/
/problematicas/Problematica04/nbproject/private/
/problematicas/Problematica04/build/
/problematicas/Problematica05/nbproject/private/
/problematicas/Problematica05/build/
